<nb-layout>

  <nb-layout-header fixed>
    <h1>Canvas Code Generator</h1>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <app-history></app-history>
        </div>
        <div class="col-md-6">
          <app-editor></app-editor>
        </div>
        <div class="col-md-4">
          <app-canvas></app-canvas>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
